/.vscode
/auth.py
/log.txt
/__pycache__
/*.pyc
*.pyc
modules/__pycache__/get_json.cpython-38.pyc
modules/__pycache__/get_pdfs.cpython-38.pyc
/csv/input.csv
modules/__pycache__/get_json.cpython-38.pyc
modules/__pycache__/get_pdfs.cpython-38.pyc
/config/auth.py
