# text editor cache files
/.vscode

# authentication information
/auth.py
/sav/*.pickle

# compiled python files
/__pycache__/*
/*/__pycache__/*
/*.pyc
/*/*.pyc
*.pyc

# Filled out templates
/csv/input.csv
/config/auth.py


# Output files
/pdf-output/*
!pdf-output/.gitkeep
json-output/*.json

# Error logs
/logs/*.txt
log/log.txt
log/log.csv
csv/error.csv
log/*.csv
