# text editor cache files
/.vscode

# compiled python files
/__pycache__/
/__pycache__/*
/*/__pycache__/*
/*.pyc
/*/*.pyc
*.pyc
/docket_alarm_api_bulk_download/__pycache__

# Filled out templates
/docket_alarm_api_bulk_download/csv/*
!/docket_alarm_api_bulk_download/csv/input.example.csv



/docket_alarm_api_bulk_download/log/*
!/docket_alarm_api_bulk_download/log/.gitkeep

/docket_alarm_api_bulk_download/json-output/*
!/docket_alarm_api_bulk_download/json-output/.gitkeep

/docket_alarm_api_bulk_download/pdf-output/*
!/docket_alarm_api_bulk_download/pdf-output/.gitkeep

/docket_alarm_api_bulk_download/sav/*
!/docket_alarm_api_bulk_download/sav/.gitkeep


# Virtual environment
/venv/


# Publishing Distribution Files
/setup.py
MANIFEST.in
